# This is a sample .env file for the frontend. Copy this file to .env and adjust the values as needed before building.

# This is the base url for the backend API calls.
VITE_BASE_API_URL=http://localhost:3000/