# Sample environment variables for running the application and Prisma database migrations in Docker.

DATABASE_URL=postgresql://admin:admin123@postgres:5432/my_watch_tower
REDIS_HOST=redis
REDIS_PORT=6379